body {
  margin: 0;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  height: 60px;
  display: flex;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search-bar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex;
  flex-direction: column;
  padding: 20px;
}
.search-bar input {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.search-bar button {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
.search-bar button:hover {
  background-color: slateblue;
  color: #fff;
}

.movie-list {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.movie-list-image {
  max-width: 300px;
  max-height: 400px;
}
.movie-list-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.movie-list-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20%;
  margin-bottom: 10px;
  color: red;
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  padding: 20px;
  width: 30%;
}
